<h1>Edite al usuario <%= usuarios.username %></h1>
<form method="post" action="/sign/<%= usuarios.id %>?_method=put">
<% if(session.user.username=='admin') { %>
	<label for="preg" class="rem">Usuario:</label>
	<input type="text" id="preg" name="usuarios[username]" 
	<% if(usuarios.username) { %>
		value="<%= usuarios.username %>"
	<% }else{ %>
		placeholder="username"
	<% } %>
	/><br>
<% } %>
	<label for="resp" class="rem">Contraseña:</label>
	<input type="text" id="resp" name="usuarios[password]"
	value="<%= usuarios.password %>"
	<% if(!usuarios.username) { %>
		placeholder="password"
	<% } %>

	/><br> 
	<a href="/user"><button type="button">Cancelar</button></a>

	<input type="submit" name="Salvar">
</form>