<h2>Usuarios Registrados</h2>

<% for(var i=0; i<usuarios.length; i++){%>
	<p>- <%= usuarios[i].username %> </p>

	<% if(session.user) { %>
		<tr>
			<% if(session.user.id == usuarios[i].id || session.user.username=='admin') { %>
				<td><a href="/sign/<%= usuarios[i].id %>/edit"><button>editar</button></a></td>
			<% } %>
			<% if(session.user.username=='admin') { %>
			<td>
				<form method="post" action="sign/<%= usuarios[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Borrar: <%usuarios[i].pregunta %>');"> borrar
					</button>	
				</form>
			</td>
			<% } %>
		</tr>
	<% } %>
	
<% } %>
