<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <!-- <link rel="icon" type="image/x-icon" href="vaficon.ico"> -->
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos &aacute;h</p>
    <p>Le animo a jugar</p>
  </body>
</html>
