<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" 
<% if(quiz.pregunta) { %>
	value="<%= quiz.pregunta %>"
<% }else{ %>
	placeholder="Pregunta"
<% } %>
/><br>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]"
value="<%= quiz.respuesta %>"
<% if(!quiz.pregunta) { %>
	placeholder="Respuesta"
<% } %>

/><br>
<a href="/quizes"><button type="button">Cancelar</button></a>

<input type="submit" name="Salvar">
