<table>
<select>
	<% var i; for (i=0; i<quizes.length; i++){ %>
	
		
		  <option value="<%= quizes[i].pregunta %>"><%= quizes[i].pregunta %></option>
		
	
	<% } %>

	<!-- <tr>
		<td><a href="/quizes/<%=/* quizes[i].id */%>"><%=/* quizes[i].pregunta */%></a></td>
	</tr> -->

	</select>
	<br></quizes.length;></table>
</table>
<br>
<% if(session.user) {%>
	<a href="/quizes/new"><button type="button">Añadir pregunta</button></a>
<%}%>