
    <form method="get" action="/quizes/answer">
    	pregunta: <%= pregunta %><br>
    	<input type="text" name="respuesta" value="Responda aquí">
    	<input type="submit" value="enviar">
    </form>
